body{
    overflow-x: hidden;
    background-color: rgb(196, 196, 196);
}
#menu{
    height: 10%;
    background-color: #1F2326;
}
#menua{
    color: rgb(175, 175, 175);
    
}
#banner{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(27, 27, 27, 0.75)), url(src/banner2.jpg);
    background-position-y: 40%;
    position: relative;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}
#titulo-banner{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10%;
    position: relative;
    font-size: larger;
}
#caixa1{
    background-color: #733863;
    height: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 10px;
}
#caixa2{
    background-color: #1F2326;
    height: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 10px;
}
#caixa3{
    background-color: #6099A6;
    height: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 10px;
}
#titulo-card{
    text-align: center;
    color: white;
}
#texto-card{
    color: white;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10%;
}

#caixas{
    width: 100%;
    margin-top: -30vh;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#icon{
    width: 100px;  
}
#titulo1{
    background-color: #733863;
    color: white;
    margin-top: 10%;
    font-size: 25px;
    box-shadow: 2px 2px 10px;
}
#titulo2{
    background-color: #1F2326;
    color: white;
    margin-top: 10%;
    font-size: 25px;
    box-shadow: 2px 2px 10px;
}
#content1{
    margin-top: 10%;
    background-color: #733863;
    border-radius: 15px;
    box-shadow: 2px 2px 10px;
}
#content2{
    margin-top: 10%;
    background-color: #1F2326;
    border-radius: 15px;
    box-shadow: 2px 2px 10px;
}
#text{
    font-size: 25px;
    color: white;
}
#subtitulo{
    color: white;
    font-size: 50px;

}
#img{
    width: 100%;
}
#img2{
    width: 50%;
}
#img3{
    width: 100%;
}
@keyframes animationum{
    from{
        top: 100%;
        opacity: 0;
    }
    to{
        top: 60%;
        opacity: 1;
    }
}